# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
.venv/
.env
.conda/

# Data, models, large artifacts
/data/

# OS & editor
.DS_Store
Thumbs.db
.vscode/
